:root {
    --primarytextcolor: #232e35;
    --second: #656d72;

    --border: #f1f1f1;
    --line: #d9d9d9;

    --primarybackground: #fff;
    --secondarybg: #fbfbfb;
    --thirdbg: #f5f3fe;

    --primaryicon: #7e74f1;
    --hover: #5d51e8;

    --sectionpadding: 6rem 0;
    
    --itemborderradius: 0.7rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primarytextcolor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondarytext);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: auto;
}

@media screen and (max-width: 1200px) {
    .main-container { 
      width: 90%;
  }
}

/* button */
.btn {
    padding: 1rem 1.5rem;
    background: white;
    border: 1.5px solid var(--border);
    cursor: pointer;
    transition: .2s ease-in-out;
}
.btn:hover {
    box-shadow: rbg(0, 0, 0, 0, 04)0px 3px 5px;
}

/* title */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;

}
.pre-title{
    text-transform: uppercase;
    letter-spacing: .5rem;
    color: var(--secondarytext);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: .9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--line);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 3rem;
}

/* logo and navigation */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
}

.logo a {
    color: var(--primarytextcolor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primarytextcolor);
}

/* burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all .3s;
    z-index: 99;
}

.burger {
   display: none;
   z-index: 99; 
   position: fixed;
   top: 33px;
   right: 35px;
}

/* hero section */
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;

}

.hero-name span {
    color: var(--primaryicon);
}

.hero-right img {
    width: 90%;
}

.hero-right {
    display: flex;
    justify-content: center;

}
/* service action */
#services {
    background-color: var(--secondarybg);
    padding: var(--sectionpadding);
    
}

.services .pre-title {
    margin: 0 auto;
}

.services-title {
    text-align: center;
}

.service {
    padding: 3rem 3rem;
    text-align: center;
    background: var(--primarybackground);
    border-radius: van(--itemborderradius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.50rem;
}

.service-icon {
    background: var(--thirdbg);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: .5rem;  
}

.service-icon svg {
    fill: var(--primaryicon);
}

/* portofolio section */
#portofolios {
    padding: var(--sectionpadding);
}

.portofolio {
    border-radius: var(--itemborderradius);
    overflow: hidden; 
    border: 1px solid var(--border);
}

.portofolio-cover {
    height: 250px;
}

.portofolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portofolio-info {
    padding: 2rem 1.5rem;
}

.portofolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.portofolio h4 {
    font-weight: 500;
    font-size: 1.05rem;
}

.portofolio-title a svg:hover {
    fill: var(--primaryicon);
}

.portofolio-title a svg {
    transition: .2s ease-in-out;
}

.portofolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.portofolio-tags div {
    font-size: .9rem;
    border: 1px solid var(--border);
    padding: .4rem 1rem;
    color: var(--secondarytext);
}

/* skills and education */
#skills {
    padding: var(--sectionpadding);
    background: var(--secondarybg);

}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.education {
    display: flex;
    gap: 2rem;
}

.education .line {
    padding: 0 .7rem;
}

.education .line div {
    width: 2px;
    height: 100%;
    background: var(--border);
    position: relative;

}

.education-info p {
    margin: .6rem 0 1.4rem;
}

.education-years {
    margin-bottom: 3rem;
}

/* the dot on the line */
.education .line div:before {
    content: "";
    width: 15px;
    height: 15px;
    background: var(--border);
    border-radius: 50%;
    position: absolute;
    left: -6px;
}

.skills-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
}

.skills-right ul {
    line-height: 2rem;
    padding: 0 1rem;
}

/* contact section */
#contact {
    padding: var(--sectionpadding);
}

.contact {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.contact-form div {
    margin-bottom: 1.4rem;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: .7rem 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--secondarybg);
    border: 1px solid var(--border);
    border-radius: 3px;
    resize: none;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #9d9fa1;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: .75rem 1.3rem;
    background-color: var(--primaryicon);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-submit:hover {
    background: var(--hover);
}

.contact-item {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
}

.contact-item-icon {
    background: var(--thirdbg);
    width: 53px;
    height: 53px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-item-icon svg {
    fill: var(--primaryicon)
}

.contact-item-detail h4 {
    margin-bottom: .6rem;
}

/* footer section */
footer {
    padding: 4rem 0;
    background: var(--secondarybg);
    text-align: center;
}

.footer-icons {
    margin-bottom: 1rem;
}

.footer-icons a {
    margin: 0 .5rem;
}

.footer-icons svg {
    fill: #3e3f40;
}

.footer-icon a:hover svg {
    fill: #000;
}